/**
 * Custom styles for VuePress 2
 */

/* Home hero image (this part is OK) */
.home .hero img
  max-width 450px !important

/* Bold markdown horizontal rule (---) */
.vp-doc hr
  height 5px
  